
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}


body{
  margin: 0;
  font-family:Inter;
}
:root {
 --primary-color:#0e0e23;
 --secondary-color:radial-gradient(circle, #1a2049 0%, #13162f 100%);
 --text-color:#9b9ca7;
 --core-color:linear-gradient(90deg, rgba(166,113,222,1) 0%, rgba(110,9,121,1) 0%, rgba(0,212,255,1) 100%);
}

